# postgres
-  To interact with PostgreSQL, you need to install a third-party Python SQL driver like  psycopg2.

https://www.postgresqltutorial.com/postgresql-cheat-sheet/
https://realpython.com/python-sql-libraries/#creating-tables

##  connect

In [77]:
import psycopg2
from psycopg2 import OperationalError

db_name = 'imdb'
db_user = 'user1'
db_password = 'learning'
db_host = '127.0.0.1'
db_port =5432


def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection


connection  = create_connection(db_name, db_user, db_password, db_host, db_port)

Connection to PostgreSQL DB successful

## read

In [12]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except OperationalError as e:
        print(f"The error '{e}' occurred")

In [64]:
select_movie = """SELECT title, year, director, avg_vote, metascore 
                                 FROM movies 
                                 WHERE title LIKE '%Killer' AND year > 2015 
                                 ORDER BY avg_vote DESC"""
movies = execute_read_query(connection, select_movie)

In [63]:
for movie in movies:
    print(movie)

("I'm a Killer", Decimal('2016'), 'Maciej Pieprzyca', Decimal('7.0'), Decimal('0.0'))
("Gosnell: The Trial of America's Biggest Serial Killer", Decimal('2018'), 'Nick Searcy', Decimal('6.7'), Decimal('0.0'))
('The Clovehitch Killer', Decimal('2018'), 'Duncan Skiles', Decimal('6.5'), Decimal('59.0'))
('I Am Not a Serial Killer', Decimal('2016'), "Billy O'Brien", Decimal('6.2'), Decimal('54.0'))
('You Might Be the Killer', Decimal('2018'), 'Brett Simmons', Decimal('5.9'), Decimal('0.0'))
('Malevolence 3: Killer', Decimal('2018'), 'Stevan Mena', Decimal('5.6'), Decimal('0.0'))
('Hometown Killer', Decimal('2018'), 'Jeff Hare', Decimal('5.5'), Decimal('0.0'))
('Mrs. Serial Killer', Decimal('2020'), 'Shirish Kunder', Decimal('4.9'), Decimal('0.0'))
('DNA Killer', Decimal('2020'), 'Lisa France', Decimal('4.9'), Decimal('0.0'))
('Social Killer', Decimal('2018'), 'Craig Goldstein', Decimal('4.9'), Decimal('0.0'))
('Camper Killer', Decimal('2018'), 'Tom Nagel', Decimal('3.7'), Decimal('0.0'))
('Bundy and the Green River Killer', Decimal('2019'), 'Andrew Jones', Decimal('3.7'), Decimal('0.0'))
('Khali the Killer', Decimal('2017'), 'Jon Matthews', Decimal('3.6'), Decimal('0.0'))
('Staged Killer', Decimal('2019'), 'Christopher Ray', Decimal('3.4'), Decimal('0.0'))
('The Millennial Killer', Decimal('2020'), 'Sam Mason-Bell', Decimal('2.7'), Decimal('0.0'))

## create new db

In [82]:
# connect to your defalut database
connection = create_connection('postgres', 'postgres', 'password', db_host, db_port)

Connection to PostgreSQL DB successful

In [83]:
def create_database(connection, query):
    connection.autocommit = True
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Query executed successfully")
    except OperationalError as e:
        print(f"The error '{e}' occurred")


create_database_query = "CREATE DATABASE play_db OWNER user1;"
create_database(connection, create_database_query)

Query executed successfully

## delete db

In [85]:
delete_database_query = "DROP DATABASE IF EXISTS play_db;"
create_database(connection, delete_database_query)

Query executed successfully

## insert

In [66]:
movie = ("Marco Man", "Self", 2022, 100)


insert_query = (
    f"INSERT INTO movies (title, director, year, metascore) VALUES {movie}"
)

connection.autocommit = True
cursor = connection.cursor()
cursor.execute(insert_query, movies)

NotNullViolation: null value in column "imdb_title_id" of relation "movies" violates not-null constraint
DETAIL:  Failing row contains (null, Marco Man, null, 2022, null, null, null, null, null, Self, null, null, null, null, null, null, null, null, null, 100.0, null, null).