In [1]:
print("hello world")

hello world

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# variables

In [3]:
age = 20                            # integer - whole number
price = 19.95                   # float - decimal
first_name = "Marco"    # string - underscore_for readability
is_online = True              # boolean - python is case-sensitive
print(price)

19.95

## define many variables in one go

In [47]:
x, y, z = "Orange", "Banana", "Cherry"
x, y, z

('Orange', 'Banana', 'Cherry')

## One Value to Multiple Variables

In [11]:
x = y = z = "Orange"        # all variables are "Orange"
print(x, y, z)

Orange Orange Orange

## unpacking a collection

In [12]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x, y, z)    # apple, banana, cherry

apple banana cherry

In [17]:
# The asterisk operator (*) is used to unpack all the values of an iterable that have not been assigned yet.
first, *unused, last = [1, 2, 3, 5, 7]
unused

[2, 3, 5]

In [18]:
# The preferred way to discard values is to use an underscore variable (_), 
# which is sometimes used as a ‚Äúdummy variable‚Äù.
first, *_, last = [1, 2, 3, 5, 7]
_

[2, 3, 5]

In [20]:
# If we want to unpack all the values of an iterable to a single variable, we must set up a tuple, 
# hence adding a simple comma will be enough
*string, = 'PythonIsTheBest'
string

['P', 'y', 't', 'h', 'o', 'n', 'I', 's', 'T', 'h', 'e', 'B', 'e', 's', 't']

In [21]:
*numbers, = range(5)
numbers

[0, 1, 2, 3, 4]

## unpack a dictionary

In [23]:
food = {'fish':3, 'meat':5, 'pasta':9} 
colors = {'red': 'intensity', 'yellow':'happiness'}
merged_dict = {**food, **colors}
merged_dict

{'fish': 3, 'meat': 5, 'pasta': 9, 'red': 'intensity', 'yellow': 'happiness'}

## conversion

In [13]:
birth_date = input("whats your birth year: ")   # input is a string
age2 = 2021 - int(birth_date)                   # 2021 is a integer, birth_date is a string
print(age2)

34

## converting variables

In [10]:
print(f"{int(1.3556)},   {float(23)},    {bool(0)}")
print(type(str(40)))

1,   23.0,    False
<class 'str'>

## type conversion

In [2]:
first = float(input("first value: "))
second = float(input("second value: "))
sum = first + second                          # only float for decimals
print("Sum: " + str(sum))                     # concatenation only of same variable types

first value:  30
second value:  20

Sum: 50.0

# arithmetic operator

In [1]:
print(10+2)
print(10/3)         # decimal division
print(10//3)        # integer division
print(10%3)         # modulos gives remainder of the integer divison
print(10**3)        # exponent 10 to the power of three

12
3.3333333333333335
3
1
1000

## augmented assignment operator

In [2]:
x = 10
x = x+3
print(x)
x +=3               # is the same as the line before
print(x)
x *=3
print(x)

13
16
48

## operater precedence

In [3]:
x = 10 + 3*2        # first multiplication then addition
print(x)

x = (10+3) *2       # 13 * 2
print(x)

16
26

## comparison operators

In [4]:
x = 3>2             # creates a boolean also <, <=, >=,
print(x)

y = 3==2            # equality operator, not to be confused with "=" assignment operator
print(y)

z = 4!=2            # unequal
print(z)

True
False
True

# logical operators

## and, or, not,  and not

In [ ]:
price = 25
print (price >10 and price < 30)    # both have to be hold
print (price >10 or price < 20)       # one has to hold
print(price <= 25 and not price >=50)
print(price == 25)
print (not price >10 )              # changes the boolean output

True
True
True
True
False

## all()
- returns True if all items in an iterable are true, otherwise it returns False.
- If the iterable object is empty, the all() function also returns True.

In [ ]:
x = all([True, False, True])
x

False

## any()
- any() function returns True if any item in an iterable are true, otherwise it returns False.
- If the iterable object is empty, the any() function will return False.

In [ ]:
# 1 = True, 0 = False
x = any([0, 1, False])
x

True

## nested if

In [2]:
x = 7
if x > 5:
    print('x greater than 5')
    if x >10:
        print('x greater than 10')
    else: print('x is not more than 10')

x greater than 5
x is not more than 10

## Ternary Operators, or Conditional Expressions

In [ ]:
# If you have only one statement to execute,
# you can put it on the same line as the if statement.
a = 50; b = 40; c=60
if a > b: print("a is greater than b")

print("A") if a > b else print("B")

# This technique is known as Ternary Operators, or Conditional Expressions.
print("B > C") if b > c else print("B=C") if b == c else print("C > B")

# assign value depending on if...else
str = 'a is 30' if a == 30 else "a isn't 30"

a is greater than b
A
C > B

# collections, containers
- lists: mutable sequence of values
- tuple: fixed squence of values
- set: sequence of distinct values
- dictionary: mutable set of key-value pairs

## lists
- are not tuples()
- List items are indexed, the first item has index [0],
- to store multiple items in a single variable.
- List items are ordered, changeable, and allow duplicate values.

In [ ]:
list1 = ["abc", 34, True, 40, "male", "male"]
print(len(list1))
print(list1[5])         # pick by index
print(type(list1))   # type

6
male
<class 'list'>

In [6]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]
print(sum(integer_list))
list_of_lists

6

[[1, 2, 3], ['string', 0.1, True], []]

In [7]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# A slice can take a third argument to indicate its stride, which can be negative
every_third = x[::3]
five_to_three = x[5:2:-1]

print(every_third)
print(five_to_three)

[0, 3, 6, 9]
[5, 4, 3]

### list constructor

In [10]:
thislist = list(("apple", "banana", "cherry"))        # note the double round-brackets
names = ["John", "Marco", "Marry", "Julia", "John"]

print(names[0])                     # prints first value - counting bigins at 0
print(names[-1])                    # gives last item of list
print(names[-2:])                   # the last two item
print(names[0:3])                  # 1th to 4th value
print(names[2:])                    # from 3 item to the last
print(names[:4])                    # from first to 5th
print("\n")

more_names =["Phillip", "Victoria"]
print(names + more_names + ["Ulli", "Agnes"])   # list concatenation
print("\n")

names[0] = "Jon"                            # updates the list/ replace a value lists are mutable
names[0:1] = ['Hannah', 'Ria']      # replace first two
print(names)


names.extend(['Frederik', 'Youssuf'])
print(names)

names.append('Latifa')
print(names)

John
John
['Julia', 'John']
['John', 'Marco', 'Marry']
['Marry', 'Julia', 'John']
['John', 'Marco', 'Marry', 'Julia']


['John', 'Marco', 'Marry', 'Julia', 'John', 'Phillip', 'Victoria', 'Ulli', 'Agnes']


['Hannah', 'Ria', 'Marco', 'Marry', 'Julia', 'John']
['Hannah', 'Ria', 'Marco', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf']
['Hannah', 'Ria', 'Marco', 'Marry', 'Julia', 'John', 'Frederik', 'Youssuf', 'Latifa']

### list comprehension
- offers a shorter syntax when you want to create a new list based on the values of an existing list.
- Syntax - newlist = [expression for item in iterable if condition == True]

In [ ]:
letters=["hello it's small letters going big"]
comp_upcase_list = [i.upper() for i in letters]     # same as above in one line
print(comp_upcase_list)

["HELLO IT'S SMALL LETTERS GOING BIG"]

### list methods

In [ ]:
o = ["murat", "gaston"]
m.append(o)             
o.insert(1, "ferdinand")
o.index("gaston")         # gives index of the value "gaston" back
o.insert(1, "gaston")
o.count("gaston")         # number of gastons in a list
o.sort()
o.reverse()
o.pop()

### append

In [ ]:
numbers =[1,2,3,4,5]
numbers.append(6)           # adds a element at the end
numbers

[1, 2, 3, 4, 5, 6]

### insert

In [ ]:

numbers.insert(0, -1)       # insert(position, value) add an element at the beginning
numbers.insert(3, 45)       # add 45 on 4th place
numbers

[-1, 1, 2, 45, 3, 4, 5, 6]

### remove, del, pop

In [ ]:

numbers =[0, 1, 2, 3, 4, 5, 6]
numbers.remove(3)           # removes the value 3, just the first intance of the value is deleted
del numbers[4]                   # deletes value at position 0
numbers.pop()                    # removes the last item in a list
numbers

[0, 1, 2, 4]

### clear

In [ ]:
numbers =[0, 1, 2, 3, 4, 5, 6]
numbers.clear()               # clears the whole list
numbers

[]

### in, len

In [ ]:
numbers =[1,2,3,4,5]
print(1 in numbers)         # is there a "1" in "numbers"?

numbers = [1, 2, 3, 4, 5]
print(len(numbers))

True
5

### sort, sorted

In [ ]:
x = [2, 3, 89, 4, 9, 1]
print(sorted(x))            # temporarily sorted
print(x)

x.sort()                          # sorts the original list permanently, from smallest to highest value
print(x)

print(numbers.count(5))  # counts the occurences

[1, 2, 3, 4, 9, 89]
[2, 3, 89, 4, 9, 1]
[1, 2, 3, 4, 9, 89]
1

### reversed

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7]
y = list(reversed(x))  # does not work???
y

[7, 6, 5, 4, 3, 2, 1]

### .index()

In [ ]:

numbers = [1, 2, 4, 5, 8, 5, 10]
print(numbers.index(10))          # give back index of the value

### copy()

In [ ]:
numbers2 = numbers.copy()         # make a copy not a reference

### nested lists

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
print(x)

[['a', 'b', 'c'], [1, 2, 3]]

### list of pairs

In [ ]:
friendship_pairs = [(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4), (4, 5), (5, 6), (5, 7), (6, 8), (7, 8), (8, 9)]
friendship_pairs[0:6]

[(0, 1), (0, 2), (1, 2), (1, 3), (2, 3), (3, 4)]

### iterate over a list  - range

In [ ]:
supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for i in range(len(supplies)):
    print('Index ' + str(i) + ' in supplies is: ' + supplies[i])

Index 0 in supplies is: pens
Index 1 in supplies is: staplers
Index 2 in supplies is: flamethrowers
Index 3 in supplies is: binders

### enumarate()
enumerate() will return two values: the index and the item in the list.

In [ ]:

supplies = ['pens', 'staplers', 'flamethrowers', 'binders']
for index, item in enumerate(supplies):
    print(index, item)

0 pens
1 staplers
2 flamethrowers
3 binders

### flattening

In [ ]:
from pandas.core.common import flatten
l = [0, 1, 2, [3, 4, 5, [6, 7, 8]]]
m = list(flatten(l))
m

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### random choice -->

In [ ]:
import random
pet = ["dog", "cat", "parrot", "bunny", "horse"]
print(random.choice(pet))
random.shuffle(pet)
print(pet)

cat
['cat', 'horse', 'parrot', 'dog', 'bunny']

In [ ]:
import random                 
print(random.randint(10, 30))    # cooses numer between 10 and 30
liste = ["Gerd", "Harald", "Husalka", "Anna", "Julia"]
print(random.choice(liste))  # chooese one of the names in the list

15
Gerd

In [ ]:
import random
class Dice:
    def roll():
        x = random.randint(1, 6)      # random no. between 1 and 6
        y = random.randint(1, 6)
        return x,y
dice1 = Dice
print(dice1.roll())

(6, 3)

### line continuation

In [ ]:
print("hello " +
                "there")

hello there

### matrix -- 2D lists

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [[1,2], [3,4], [6,5]]]

matrix[0][1] = 20              # change value to 20 [row][item]
matrix

[[1, 20, 3], [4, 5, 6], [7, 8, 9], [[1, 2], [3, 4], [6, 5]]]

In [ ]:
print(matrix[0][1])                 # access the matrix[first row][second item]
matrix[3][1] = [22, 65]          # change the values in the nested matrix - list
matrix[3][2] = 90, 100           # change the values in the nested matrix - tupel
matrix[3][0] = {"age": "22","life_expect": "65"}  # puts a dictionary in the list
matrix

20

[[1, 20, 3],
 [4, 5, 6],
 [7, 8, 9],
 [{'age': '22', 'life_expect': '65'}, [22, 65], (90, 100)]]

In [ ]:
print(matrix[3][0].get("age"))  # gets the value of the key age out of the nested dict

22

In [ ]:
for row in matrix:
    for item in row:
        print(item)

1
20
3
4
5
6
7
8
9
{'age': '22', 'life_expect': '65'}
[22, 65]
(90, 100)

### delete duplicates

In [ ]:
numbers = [1, 2, 4, 5, 8, 5, 6, 7, 7]
for number in numbers:
    if number not in uniques:
        uniques.append(number)
        
uniques

[1, 2, 4, 5, 8, 6, 7]


## tuple 
- is ordered and UNCHANGABLE allow duplicate values 
- use them when you need an ordered sequence of values that never changes.
- because they are immutable, using tuples is slightly faster than code using lists.
- Tuples are a convenient way to return multiple values from functions

In [ ]:
numbers = (1, 2, 4)         # tuples are unchangeable
#numbers[1] = 8              # TypeError b/c unchangable
print(numbers[2])

4

In [ ]:
numbers = (1,2,3,3)
print(numbers.count(3))     # count() the occurances of the value 3
numbers

2

(1, 2, 3, 3)

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
tuple2 = ("apple",)                                     # tuple with one item - mind the comma
no_tuple = ("apple")                                 # this is NOT a tuple its a string
type(tuple2)

tuple

In [17]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3) # get a tuple return
s, p = sum_and_product(2, 3) # get single values from returned tuple
print(sp)
print(s, p)

(5, 6)
5 6

In [ ]:

# h = "hello"
# print(f"{h}         id: {id(h)}")
# h += " world"                   # this creates a new string in the computer memory
# print(f"{h}   id: {id(h)}")     # the place in the memory is totally different from the variable h

## set 
- collection  of distinct elements
- a collection which is both unordered and unindexed
- set items are unordered, unchangeable, and do not allow duplicate values.
- If we have a large collection of items that we want to use
for a membership test, a set is more appropriate than a list
- The second reason to use sets is to find the distinct items in a collection

In [39]:
set1 = {"abc", 34, True, 40, "male"}
thisset = set(("apple", "banana", "cherry"))    # set constructor

print('apple' in thisset)

True

In [41]:
item_list = [1, 2, 3, 1, 2, 3]
print(len(item_list))

item_set = set(item_list)
print(len(item_set)) # distinct items

list(item_set) # filtered only distinct items

6
3

[1, 2, 3]

## dictionary 
- changeable, ordered, indexed and does not allow duplicates
- As of Python 3.7, dictionaries are ordered.
- dictionaries - values can be anything, but no key-duplicates are allowed

In [20]:
customer ={
    "name": "John Smith",      # key - value pair
    "age": 30,                             # each key must be unique
    "is_verified": True              # key can have any value
}
customer

{'name': 'John Smith', 'age': 30, 'is_verified': True}

### dict constructor

In [18]:
x = dict(name = "John", age = 36, country = "Norway")    # less Pythonic
y = {'name': "John", 'age': 36, 'country': "Norway"}           #  Pythonic
print(x)
print(y)

{'name': 'John', 'age': 36, 'country': 'Norway'}
{'name': 'John', 'age': 36, 'country': 'Norway'}

In [21]:
customer["name"] = "Jack Smith"                           # change value
print(customer["name"])                                          # gives the value of the key "name" = John Smith
print(customer.get("birthdate", "someday"))       # get does not produce an error if no birthdate is in the dict
customer["status"] = "active"                                   # adds new key-value pair
customer.update({"name": "John Smith" })
print(customer)

Jack Smith
someday
{'name': 'John Smith', 'age': 30, 'is_verified': True, 'status': 'active'}

In [22]:
"name" in customer
"name" in customer.keys()

True

In [ ]:
customer.get("name", "nobody")            # get the value of "name" key or a fallback value if theres is no such key

'Jack Smith'

### setdefault

In [ ]:
customer.setdefault("color", "white")     # asks for the value of "color" if there is no such key its sets the key-valuse pair
customer

{'name': 'Jack Smith',
 'age': 30,
 'is_verified': True,
 'status': 'active',
 'gender': 'male',
 'color': 'white'}

In [ ]:
if "gender" not in customer:              # is there a certain key
  customer["gender"] = "male"             # if not, set one
  
customer

{'name': 'Jack Smith',
 'age': 30,
 'is_verified': True,
 'status': 'active',
 'gender': 'male',
 'color': 'white'}

### dictionary function

In [ ]:
print(customer.keys())            # returns keys of the dict
print(customer.values())         # returns values
print(customer.items())          # returns both

dict_keys(['name', 'age', 'is_verified', 'status', 'gender', 'color'])
dict_values(['Jack Smith', 30, True, 'active', 'male', 'white'])
dict_items([('name', 'Jack Smith'), ('age', 30), ('is_verified', True), ('status', 'active'), ('gender', 'male'), ('color', 'white')])

In [ ]:
car =	{"brand": "Ford",
"model": "Mustang",
"year": 1964}

car.update({"year": 2021})    # update/override value
car.pop("model")                    # remove key
car["color"] ="red"
car

{'brand': 'Ford', 'year': 2021, 'color': 'red'}

#### popitem()

In [ ]:
car.popitem()                  # removes the last inserted item
car.items()

dict_items([('brand', 'Ford'), ('year', 2021)])

### del item

In [ ]:
del car["brand"]           # deletes specified key
print(car.items())

dict_items([('year', 2021)])

### clear

In [ ]:
car.clear()                # empties the dictionary
print(car.items())

dict_items([])

### del dict

In [ ]:
del car                    # deletes the dictionary
print(car.items())

NameError: name 'car' is not defined

### zip
Iterate over several iterables in parallel, producing tuples with an item from each one.

In [ ]:
stocks = ['BMW', 'IBM', "SHELL"]
prices = [2175, 1127, 2750]
dictionary = dict(zip(stocks, prices))
dictionary

{'BMW': 2175, 'IBM': 1127, 'SHELL': 2750}

In [8]:
items =  zip([1, 2, 3], ['sugar', 'spice', 'everything nice'])
for item in items:
    print(item)

(1, 'sugar')
(2, 'spice')
(3, 'everything nice')

### unzip

In [12]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
letters

('a', 'b', 'c')

### dict comprehension

In [ ]:
new_dict = {stocks: prices + 1000 for stocks, prices in dictionary.items()}
new_dict

{'BMW': 3175, 'IBM': 2127, 'SHELL': 3750}

In [ ]:
students = ['Peter', 'Mary', 'George', 'Emma']
student_ages = [24, 25, 22, 20]
student_ages_dict = {key: value for key, value in zip(students, student_ages)}
print(student_ages_dict)

{'Peter': 24, 'Mary': 25, 'George': 22, 'Emma': 20}

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# multiply each value in the dictionary
double_dict1 = {k:v*20 for (k,v) in dict1.items()}
double_dict1

{'a': 20, 'b': 40, 'c': 60, 'd': 80, 'e': 100}

### access the items of a dict

In [ ]:
thisdict =	{"brand": "Ford",
"model": "Mustang",
"year": 1964,
"year": 2020}    # duplicates override other values

print(thisdict["brand"])
print(thisdict.get("year"))  # get() is a method

Ford
2020

In [ ]:
phone = input("Phonenumber: ")
digits_mapping = {
    "1": "One",             # Zuordnung der 1 zur One
    "2": "Two",
    "3": "Three",
    "4": "Four",
    "5": "Five"
}
output = ""                            # empty string that gets filled
for ch in phone:                       # takes every value after another from phone, gives it to the get-fct
    output += digits_mapping.get(ch, "missing") + " "   # gives back "missing" when there is no entry in the dictionary
print(output)

One Two Three Four

In [ ]:
text = input("smiley or grumpy> ")
words = text.split(" ")             # divides at space
emojis = {                                  # dictionary: name = {}
    ":)": "üòä",
    ":(": "üòí"
}
output = ""
for word in words:
    output += emojis.get(word, word) + " "    # looks in emojis (dict) for the word if there's no entry it gives back the word itself
print(output)

üòä

### index() method to fetch Dictionary key using value.

In [ ]:

my_dict ={"java":100, "python":112, "c":11}

# list out keys and values separately
key_list = list(my_dict.keys())
val_list = list(my_dict.values())

# print key with val 112
position = val_list.index(112)   # get index of the value
print(key_list[position])            # look at keys at the index

# one-liner
print(list(my_dict.keys())[list(my_dict.values()).index(112)])

python
python

### print all key names in the dictionary,

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

for x in car:
  print(x)

# same
for x in car.keys():
    print(x)

brand
model
year
brand
model
year

### print all values in the dictionary

In [ ]:
for x in car:
    print(car[x])

# same
for x in car.values():
  print(x)

Ford
Mustang
1964
Ford
Mustang
1964

### coping a dictionary

In [ ]:
car2 = car                                      # car2 is just a reference to car,
print(car2.items(), "\n")

car["brand"] = "Audi"                  # changes in car happen to also to car2
print(car2.items(), "\n")

car3 = car.copy()                            # make a proper copy of car
car["brand"] = "Mercedes"         # change to car does not apply to car3
print(car.items())
print(car3.items(), "\n")

car4 = dict(car)                             # another method to make a copy
print(car4.items())

dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 1964)])

dict_items([('brand', 'Audi'), ('model', 'Mustang'), ('year', 1964)])

dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Audi'), ('model', 'Mustang'), ('year', 1964)])

dict_items([('brand', 'Mercedes'), ('model', 'Mustang'), ('year', 1964)])

### copy a dict -->

In [ ]:
dict6 = dict1
# changes to dict6 happen in dict1 - they are connected
dict6.update({"Jessa": 90})
dict1

{'Jessa': 90, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

In [ ]:
dict3 = dict1.copy()
dict3

{'Jessa': 70, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

In [ ]:
# Copy dictionary using dict() constructor
dict4 = dict(dict1)
dict4

{'Jessa': 70, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

In [ ]:
# Copy dictionary using the output of items() methods
dict5 = dict(dict1.items())
dict5

{'Jessa': 70, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

### join two dicts

In [ ]:
dict1 = {'Jessa': 70, 'Arul': 80, 'Emma': 55}
dict2 = {'Kelly': 68, 'Harry': 50, 'Emma': 66}

# join two dictionaries with some common items
dict1.update(dict2)

# In the case of the same key in two dictionaries 
# the latest one will override the old one. -> Emma: 66
dict1

{'Jessa': 70, 'Arul': 80, 'Emma': 66, 'Kelly': 68, 'Harry': 50}

### nested dictionary - dict in a dict

In [ ]:
myfamily = {
  "child1" : {"name" : "Emil", "year" : 2004},
  "child2" : {"name" : "Tobias", "year" : 2007},
  "child3" : {"name" : "Linus", "year" : 2011}    }
print(myfamily["child1"])   # key is child1 and in " " b/c its a str
print(myfamily["child1"]["name"])  # get value of nested dict

myfamily["child4"] = {"name": "Luna"}     # add a item/key-value pair
myfamily["child4"]["year"] = "2004"         # add value afterwards
myfamily["child4"]["health"] = "psycho"  # add an extra key

print(myfamily["child4"])
del myfamily["child4"]["health"]
print(myfamily["child4"])

{'name': 'Emil', 'year': 2004}
Emil
{'name': 'Luna', 'year': '2004', 'health': 'psycho'}
{'name': 'Luna', 'year': '2004'}

### dictionay of dictionaries

In [ ]:
# Iterating outer dictionary
print("\nClass details\n")
for key, value in class_six.items():
    # Iterating through nested dictionary
    # Display each student data
    print(key)
    for nested_key, nested_value in value.items():
        print(nested_key,':', nested_value)
    print('\n')

Class details

student1
name : Jessa
state : Texas
city : Houston
marks : 75


student2
name : Emma
state : Texas
city : Dallas
marks : 60


student3
name : Kelly
state : Texas
city : Austin
marks : 85

In [ ]:
dict = {1:'aaa',2:'bbb',3:'AAA'}
max(dict)

3

In [ ]:
min(dict)

1

In [ ]:
# any() function will return true if dictionary keys contain anyone false 
# which could be 0 or false. 
# it returns false for empty dictionary and all false dictionary.
dict1 = {1:'True',1:'False'}
dict2 = {0:'True',1:'False'}
dict3= {}
dict4 = {'0':False}
dict5 = {0:False}

any(dict5)

False

### dictionaries summary

In [ ]:
dict({'a': 10, 'b': 20})	# Create a dictionary using a dict() constructor.
d2 = {}	                    #  Create an empty dictionary.
d1.get('a')	                # Retrieve value using the key name a.
d1.keys()	                # Returns a list of keys present in the dictionary.
d1.values()	                # Returns a list with all the values in the dictionary.
d1.items()	                # Returns a list of all the items in the dictionary with each key-value pair inside a tuple.
len(d1)	                    # Returns number of items in a dictionary.
d1['d'] = 40	            # Update dictionary by adding a new key.
d1.update({'e': 50, 'f': 60})	# Add multiple keys to the dictionary.
d1.setdefault('g', 70)	    # Set the default value if a key doesn‚Äôt exist.
d1['b'] = 100	            # Modify the values of the existing key.
d1.pop('b')	                # Remove the key b from the dictionary.
d1.popitem()	            # Remove any random item from a dictionary.
d1.clear()	                # Removes all items from the dictionary.
'key' in d1.keys()	        # Check if a key exists in a dictionary.
d1.update(d2)	            # Add all items of dictionary d2 into d1.
d3= {**d1, **d2}	        # Join two dictionaries.
d2 = d1.copy()	            # Copy dictionary d1 into d2.
max(d1)	                    # Returns the key with the maximum value in the dictionary d1
min(d1)	                    # Returns the key with the minimum value in the dictionary d1

# advanced collections
- found in  collections module
- The collections module provides alternatives to built-in container data types
- namedtuple: tuple with named fields
- OrderedDict, defaultdict: dictionaries with special properties
- Counter: counts distinct values
- deque: double-ended list

## collections
- __namedtuple()__ - factory function for creating tuple subclasses with named fields
- __deque__ - list-like container with fast appends and pops on either end
- __ChainMap__ - dict-like class for creating a single view of multiple mappings
- __Counter__ - dict subclass for counting hashable objects
- __OrderedDict__ - dict subclass that remembers the order entries were added
- __defaultdict__ - dict subclass that calls a factory function to supply missing values
- __UserDict__ - wrapper around dictionary objects for easier dict subclassing
- __UserList__ - wrapper around list objects for easier list subclassing
- __UserString__ - wrapper around string objects for easier string subclassing

__namedtuple()__

The namedtuple() function returns a tuple-like object with named fields. </br>
These field attributes are accessible by lookup as well as by index. </br>
Named tuples allow you to create tuples and assign meaningful names to the positions of the tuple‚Äôs elements.</br>
Technically, a named tuple is a subclass of tuple. On top of that, it adds property names to the positional elements.</br>

In [ ]:
from collections import namedtuple
student = namedtuple('student', ["name", "age", "marks"])  # declares a student class having name, age and marks as fields
s1 = student("Imran", 21, 98)  #create a new object of this namedtuple
print(s1.name)  # fields are accessible by attribute lookup
print(s1[2]) # or index

Imran
98

In [ ]:
Point = namedtuple('Point', 'x y') # alternative naming 
p1 = Point(10, 20)
p2 = Point(30, 40)

print(p1)
print(p2.x) # instead of p2[1]
print(p1.y)

p1 = p1._replace(x=15)  # change value using it's name
print(p1)

Point(x=10, y=20)
30
20
Point(x=15, y=20)

## OrderedDict()
- The OrderedDict() function is similar to a normal dictionary object in Python. 
- However, it remembers the order of the keys in which they were first inserted. 
- Upon traversing the dictionary, pairs will appear in the order of their insertion. 
- pop item from the top is possible

In [ ]:
from collections import OrderedDict 
d1 = OrderedDict()
d1['A'] = 65
d1['C'] = 67
d1['B'] = 66
d1['D'] = 68

for k,v in d1.items():
    print (k,v)

A 65
C 67
B 66
D 68

In [ ]:
first = d1.popitem(False) # removes first item in the dict
last = d1.popitem() # removes the last
print(first)
print(last)
print(d1)

('A', 65)
('D', 68)
OrderedDict([('C', 67), ('B', 66)])

In [ ]:
a = OrderedDict({'a': 1, 'b': 2, 'c': 3})
b = OrderedDict({'a': 1, 'c': 3, 'b': 2})
c = {'a': 1, 'c': 3, 'b': 2}

print(a==b) # order matters for OrderdDict
print(a==c) # for ordinary dict order does not matter

False
True

## __defaultdict__
- A defaultdict is like a regular dictionary, except that when you try
to look up a key it doesn‚Äôt contain, it first adds a value for it using a zero-argument function you provided when you created it.
-

In [27]:
from collections import defaultdict

document = '''A defaultdict is like a regular dictionary... '''

letter_counts = defaultdict(int)
# int() produces 0

for letter in document:
    letter_counts[letter] += 1

letter_counts

defaultdict(int,
            {'A': 1,
             ' ': 7,
             'd': 3,
             'e': 3,
             'f': 1,
             'a': 4,
             'u': 2,
             'l': 3,
             't': 3,
             'i': 5,
             'c': 2,
             's': 1,
             'k': 1,
             'r': 3,
             'g': 1,
             'o': 1,
             'n': 1,
             'y': 1,
             '.': 3})

In [28]:
# list() produces an empty list
dd_list = defaultdict(list)
dd_list[2].append(1)
dd_list

defaultdict(list, {2: [1]})

In [29]:
dd_dict = defaultdict(dict) # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [30]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1 
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

In [ ]:
fruits = ['apple', 'pear', 'banana', 'apple', 'peach', 'cherry', 'banana']
fruitCounter={} # dict that should count the fruits

for fruit in fruits:
    if fruit in fruitCounter.keys():   # error if there is no fruit initilized in the dict
        fruitCounter[fruit] += 1
    else:
        fruitCounter[fruit] = 1  # thus we need to check and insert a key (fruit) first 

fruitCounter

{'apple': 2, 'pear': 1, 'banana': 2, 'peach': 1, 'cherry': 1}

In [ ]:
# above code can be shortened and the
# initilizing switched with a defaultdict
from collections import defaultdict
# int is the factory fct. and produces a default key if there is none
fruitCounter = defaultdict(lambda: 100)

for fruit in fruits:
# now no chceking for key is required bc. defaultdict sets a default key
        fruitCounter[fruit] += 1

for k, v in fruitCounter.items():
    print(k,':', v)

apple : 102
pear : 101
banana : 102
peach : 101
cherry : 101

## Counter
- dict that counts hashable objects

In [36]:
from collections import Counter
class1 = ['Bob', 'Jenny', 'Hannes', 'Greg', 'Boris', 'Lara', 'Hannah', 'Suse', 'Kara', 'Bob', 'Lara']
class2=['Lara', 'Steffen', 'Simon', 'Becky', 'Lila', 'Gunna', 'Lena', 'Rose', 'Greg', 'Jenny']

c1= Counter(class1)
c2= Counter(class2)

In [38]:
for name, count in c1.most_common(3): # three most common names
    print(name, count)

Bob 2
Lara 2
Jenny 1

In [ ]:
print(c1['Bob']) # how many Bob's are in c1?
print(sum(c1.values()), ' students in class 1')

2
10  students in class 1

In [ ]:
c1.update(class2) # combine two sets
print(sum(c1.values()), ' students in class 1')

20  students in class 1

In [ ]:
print(c1.most_common(3))

[('Bob', 2), ('Jenny', 2), ('Greg', 2)]

In [ ]:
c1.subtract(class2) # separate the sets again
print(c1.most_common(3))

[('Bob', 2), ('Hannes', 1), ('Boris', 1)]

In [ ]:
print(c1 & c2) # common objects in both

Counter({'Jenny': 1, 'Greg': 1, 'Lara': 1})

## deque
- double-ended queue, pronounced 'deck'
- accessible from both sides
- appendleft(), append(), popleft(), pop(), rotate(): 
- A deque object support appends and pops from either ends of a list. </br>
- It is more memory efficient than a normal list object. </br>
- In a normal list object, the removal of any item causes all items to the right<br>
 to be shifted towards left by one index. </br>
- Deque is preferred over a list in the cases where we need quicker append and <br>
pop operations from both the ends of the container, as deque provides an O(1) time<br>
 complexity for append and pop operations as compared to list which provides O(n) time complexity.

In [2]:
from collections import deque

q=deque([10,20,30,40])
q.appendleft(0); q
q.append(50); q
q.pop(); q # drops last appended (right) item
q.popleft(); q

deque([10, 20, 30, 40])

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [22]:
from collections import deque
import string
d = deque(string.ascii_lowercase) # initilized with lowercase letters

print(d)

# lenght of string.ascii_lowercas
print("Item count: ", str(len(d)))

# convert lower to uppercase letters
for elem in d:
    print(elem.upper(), end=',')

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])
Item count:  26
A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,

In [15]:
d.pop()
d.popleft()
d.appendleft(1)
d.append(30)
d.extend([4, 5, 6])
d.extendleft(['D', 'F', 'G'])
print(d)

deque(['G', 'F', 'D', 1, 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 30, 4, 5, 6])

In [23]:
print(d)
# rotates the sequence, 
# -n takes first n elements to the end (right)
# +n takes the last n elements to the front (left)
d.rotate(20)
print(d)

deque(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'])
deque(['g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'a', 'b', 'c', 'd', 'e', 'f'])

# Comprehensions

## list comprehension

In [ ]:
# a list of converted elements can be produced like this or...
def FahrenheitToCelsius(t):
    return (t * 9 / 5) + 32

list(map(FahrenheitToCelsius, [32, 65, 104, 212]))

[89.6, 149.0, 219.2, 413.6]

In [ ]:
# ... much shorter with list comprehension
[(t * 9 / 5) + 32 for t in [32, 65, 104, 212]]

[89.6, 149.0, 219.2, 413.6]

In [ ]:
evens = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
list(map(lambda e: e**2, evens)) 
[e**2 for e in evens] # the same but shorter

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

## comprehension with predicate expression / condition

In [ ]:
odds = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[e**2 for e in odds if e>3 and e <17]

[25, 49, 81, 121, 169, 225]

## dictionary comprehension

In [ ]:
ctemps =[0, 12, 34, 100]
tempDict={t: (t*9/5) +32 for t in ctemps if t<100}
print(tempDict)
print(tempDict[12])

{0: 32.0, 12: 53.6, 34: 93.2}
53.6

In [ ]:
team1 = {"Jones": 24, "Jameson": 18, "Smith": 58, "Burns": 7}
team2={"White": 12, "Macke": 88, "Pierce": 4}

# do not get more complex in a comprehension
newTeam={k: v for team in (team1, team2) for k, v in team.items()}
newTeam

{'Jones': 24,
 'Jameson': 18,
 'Smith': 58,
 'Burns': 7,
 'White': 12,
 'Macke': 88,
 'Pierce': 4}

## set comprehension

In [ ]:
ctemps = [0, 10, 12, 14, 10, 23, 12, 34, 34, 100, 100]
ftemps1 = [(t*9/5) for t in ctemps]
# when we do not use kev-value pairs
# curly brackets create a set, sets do not allow duplicates
ftemps2 = {(t*9/5) for t in ctemps}
print(ftemps1)
print(ftemps2)

[0.0, 18.0, 21.6, 25.2, 18.0, 41.4, 21.6, 61.2, 61.2, 180.0, 180.0]
{0.0, 41.4, 18.0, 180.0, 21.6, 25.2, 61.2}

In [ ]:
sTemp = "The quick brown fox jumped over the lazy dog"
chars = {c.upper() for c in sTemp if not c.isspace()}
print(sorted(chars))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

# copy() and deepcopy()

In [ ]:
import copy
spam = [1, 2, 3]
nspam = copy.copy(spam)     # nspam looks like spam but is not referencing the same list
spam[1] = "hello"
print(f"{spam}   id: {id(spam)}")
print(f"{nspam}         id: {id(nspam)}")  # thus is stored in a different memory storage

[1, 'hello', 3]   id: 139714182565312
[1, 2, 3]         id: 139714182565376

### shallow copy -for list in lists use
- A shallow copy creates a new object which stores the reference of the original elements.
- So, a shallow copy doesn't create a copy of nested objects, instead it just copies the reference of nested objects. 
- This means, a copy process does not recurse or create copies of nested objects itself.

In [ ]:
import copy
old_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = copy.copy(old_list)
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

- We create a shallow copy of old_list. The new_list contains references to original nested objects stored in old_list. 
- Then we add the new list i.e [4, 4, 4] into old_list. This new sublist is not copied in new_list.
- However, when you change any nested objects in old_list, the changes appear in new_list.

In [ ]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)
old_list.append([4, 4, 4])

print("Old list:", old_list)
print("New list:", new_list)

old_list[1][1] = 'AA'
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3], [4, 4, 4]]
New list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]

## deepcopy
- A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.
- The deep copy creates independent copy of original object and all its nested objects.

In [ ]:
old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'
print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

# loops
- repetitive execution of statements

## for loop
- iterate over a sequence

In [ ]:
numbers = [1,2,3,4,5]        # iterates over the members of a sequence in order, executing the block each time.
for item in numbers:
    print(item)

1
2
3
4
5

## range()
- for repetiton you need a sequence range() helps you create one

In [4]:
for x in range(4):
    print('range')
else: print('range exhausted')

range
range
range
range
range exhausted

## if statement
- for nested if statements and ternary operators look at chapter logical operators

In [ ]:
temperature = 9

if temperature > 30:                # block fo code starts if true
    print("It's a hot day")
    print("drink my son")
elif temperature > 20:              # in case the first 'if' is FALSE the 'elif' block is executed when TRUE
    print("it's a nice day")
elif temperature > 10:
    print("coldish")
else:                                           # if nothing of the above holds
    print("cold")
    print("done")                       # not part of the block

cold
done


## while loops
- exec a group of statements as long as a given expression is True

In [5]:
i =1
while i <= 5:          # block will continue till condition is met
    print(i * "*")      # repeats the string i times
    i= i+1                  # incrementing the counter is important, otherwise loop would continue endless

*
**
***
****
*****

## while True

In [ ]:
while True:             # allways ask name
    print('Who are you?')
    name = input()
    if name != 'Joe':   # if not Joe asks again
        print(f"There's no {name} in our database")
        continue        # jumps back to while loop if True, if False (Joe) goes to next line
    print('Hello, Joe. What is the password? (It is a fish.)')
    password = input()
    if password != 'swordfish':
        print("Wrong password")
    else: break  # if password is correct if, goes to next line
    print('Access granted.')

## sys.exit() function to terminate program

In [15]:
import sys
while True:
    print('Type exit to exit.')
    response = input()
    if response == 'exit':
        sys.exit()
print('You typed ' + response + '.')

Type exit to exit.

SystemExit:

/home/mz/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3465: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

## nested loop, one loop inside another
- The "inner loop" will be executed one time for each iteration of the "outer loop":

In [326]:
for x in range(3):                  # inner loop excecutes times the outer loop
    for y in range(2):              # outer loop gets started again after inner loop terminates, and iterates
        print(f"({x}, {y})")         # than inner loop starts again

(0, 0)
(0, 1)
(1, 0)
(1, 1)
(2, 0)
(2, 1)

## pass
pass - is a placeholder when a statement is syntactically required.

In [354]:
for x in [0, 1, 2]:
  pass

## break
- stops the excution of the current loop
-

In [7]:
for i in range(9):
    if i == 3:
        print(i)    # 3 is still printed bc. break comes after print
        break

3

In [9]:
i = 1
while i < 9:
    if i == 5:
        break       # here break stops before the print
    print(i)
    i += 1

1
2
3
4

## continue
-

In [10]:
for i in ['cat', 'dog' ,'bunny', 'hamster']:
    if i == 'bunny':
        continue        # jumps over the current iteration of the loop
    print(i)

cat
dog
hamster

## error message

In [329]:
try:
    age = int(input("Age: "))
    print(age)
    zero_divison = 200/age
    print(zero_divison)
except ValueError:                # when we try to divide by 0
    print("Please give me an integer")
except ZeroDivisionError:
    print("no division with zero")

Please give me an integer

## range() function
The range() function returns a sequence of numbers,
starting from 0 by default, and increments by 1 (by default),
and ends at a specified number.

In [171]:
for number in range(5, 10, 2):  # range from 5 to 9, with a step of 2
    print(number)

5
7
9

In [ ]:
x =list(range(20, -15, -3))
x

[20, 17, 14, 11, 8, 5, 2, -1, -4, -7, -10, -13]

In [ ]:
for i in range(70, 100, 8):
    print(i)

70
78
86
94

##  reversed

In [ ]:
list(reversed(range(-15, 21, 2)))

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1, -1, -3, -5, -7, -9, -11, -13, -15]

In [ ]:
s = "Hello"
result = ""
for i in reversed(s): 
    result += i
    
result

'olleH'

## iterate a list using range()

In [ ]:
list1 = ['Jessa', 'Emma', 20, 75.5]
for i in range(len(list1)):
    print(list1[i])

Jessa
Emma
20
75.5

In [ ]:
for i in reversed(range(10, 21, 2)):
    print(i, end=' ')

20 18 16 14 12 10

In [ ]:
list(range(20,40,2)) # range object needs to be convererted to list to show its content

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

### inclusive range

In [31]:
list(range(20, 40+2, 2))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

## range has indices

In [28]:
r1 = range(10,30,2)
print(list(r1))
print(r1[3])
print(r1.start)
print(r1.stop - 1)
print(r1[-1])

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
16
10
29
28

# Strings

In [152]:
course = "Python's Course"               # apostrohpe
course1 = 'Python for "Beginners"'  # double quotes
print(course)
print(course1)

Python's Course
Python for "Beginners"

## Comments

### multiline comment
comments - not what but why and how, explain assumptions

In [278]:
"""
this is a
multiline comment
and can go on and
on
"""

'\nthis is a\nmultiline comment\nand can go on and\non\n'

In [159]:
# multiline string - gets rid of the new-line in the beginning
print('''\
Hallo,)
das ist eine
mehrzeilige Ausgabe
in Python''')

Hallo,)
das ist eine
mehrzeilige Ausgabe
in Python

## Escape characters

In [ ]:
# \' Single quote
# \" Double quote
# \t Tab
# \n Newline (line break)
# \\ Backslash

# print function
# Syntax: print(object(s), sep=separator, end=end, file=file, flush=flush)
print("Hello", "how are you?", sep="---")
print("no line break after the last print statement -- ", end="")
print("end")
print("I‚Äôm Marco‚Äôs subconciousness")      # prints single quotes
print('He said: "No way"')                # prints double quotes '' (not these``)
print("He said: \"No way\"")              # escape character
print("tap \t tab")                      # \t    for tab
print("Line \nBreak")                    # \n    for newline
print("friend\\lover")                    # \\    for backslash
print(r"home\usr\bin")              # raw-string no escaping \ needed, practical with lots of special signs
print(r'That is Carol\'s cat.')     # raw string prints all escape characters

## pretty printing

In [178]:
import pprint
pprint.pprint(customer)          # prettified output - ascending order

{'age': 30,
 'color': 'white',
 'gender': 'male',
 'is_verified': True,
 'name': 'Jack Smith',
 'status': 'active'}

In [179]:
pprint.pformat(customer)      # prettified text as string

"{'age': 30,\n 'color': 'white',\n 'gender': 'male',\n 'is_verified': True,\n 'name': 'Jack Smith',\n 'status': 'active'}"

In [180]:
for k in customer.items():
  pprint.pprint(k)

('name', 'Jack Smith')
('age', 30)
('is_verified', True)
('status', 'active')
('gender', 'male')
('color', 'white')

## textwrap

In [253]:
import textwrap
paragraph = """    hello,       what up      ?"""
print(textwrap.dedent(paragraph).strip())

hello,       what up      ?

## slicing  a string

In [263]:
x = "hello world"
print(x[2:10])
print(x[10])
print(x[0:6])

llo worl
d
hello

## in / not in

In [265]:
print("hello" in x)
print("Hello" in x)     # case sensitive
print("Hello" not in x)
print("D" not in x)
print(" " in x)

True
False
True
True
True

## find, replace

In [ ]:
course = "Python for Beginners"
print(course.find("y"))  # finds the first "y" in the string
print(course.replace("for", "4"))

## input

In [269]:
name = input("what`s your name")                # takes the input
print("Hello " + name)                           # string concatenation

Hello MAn

## string.format
- strings can be modified where the curly bracket stands in

In [11]:
x = 'I love {} very much!'
x.format('coding')

'I love coding very much!'

In [12]:
y = 'I eat {}, {} and {} every day.'  # multiple placeholders
y.format('eggs', 'liver', 'cheese')

'I eat eggs, liver and cheese every day.'

In [14]:
z = 'I eat {2}, {1} and {0} every day.'  # indexed placeholders
z.format('eggs', 'liver', 'cheese')

'I eat cheese, liver and eggs every day.'

In [15]:
z = 'I eat {fruit}, {diary} and {meat} every day.'  # named placeholders
z.format(fruit= 'banana', meat= 'liver', diary='cheese')

'I eat banana, cheese and liver every day.'

## string interpolation

In [274]:
name = 'Al'
age = 4000
print("I'm %s and %s years old." % (name, age))   # no type conversion needed

I'm Al and 4000 years old.

## f- string

In [276]:
name = 'Al'
age = 4000
print(f"I'm {name}, and {age} years old")

I'm Al, and 4000 years old

## upper(), lower(), isupper(), islower()

In [284]:
course = 'Python for Beginners'
print(len(course))                  # len and print are general purpose fct.
print(course.upper())           # prints in upper case
print(course.lower())  # lower-case the original string stays the same

20
PYTHON FOR BEGINNERS
python for beginners

In [286]:
s = "lower and UPPER"
print(s.lower())
print(s.upper())
print(s.upper().isupper())            # indeed upper is upper
ss= s.lower()
print(ss.islower())                   # True if there is a letter and all in lowercase
print(s.isupper())                    # True if there is a letter and all in uppercase

lower and upper
LOWER AND UPPER
True
True
False

## isX() methods
fct. that belong to a object its a method

In [309]:
print(str.isalpha("hello"))                     # True if the string consists only of letters and isn‚Äôt blank
print(str.isnumeric("23ss"))                     
print(str.isdecimal("2022"))                  # True if the string consists only of numeric characters and is not blank
print(str.isspace("       \n \n       "))        # True if the string consists only of spaces, tabs, and newlines and is not blank
print(str.istitle("Titel"))                          # True if the string consists only of words that begin with an uppercase letter followed by only lowercase letters

True
False
True
True
True

## startswith & endswith

In [4]:
h = "Hello, world"
print(h.startswith("Hello"))      # test if string starts with ...
print(h.endswith("world"))        # test if str end with ...

True
True

## join & split

In [16]:
print(", ".join(["bread", "butter", "salami"]))    # joins list items with the string it is called on
print("... ".join(["bread", "butter", "salami"]))
print("bread butter salami".split(" "))            # splits string into a list - splits at space, tab, newline
print("bread, butter, salami".split(", "))        # splits at comma now
print('''bread              butter  salami'''.split())

bread, butter, salami
bread... butter... salami
['bread', 'butter', 'salami']
['bread', 'butter', 'salami']
['bread', 'butter', 'salami']

In [17]:
m = '''hello
maria
how
are
you'''
print(m.split("\n"))

['hello', 'maria', 'how', 'are', 'you']

### rsplit()
- The rsplit() method splits a string into a list, starting from the right.
-  string.rsplit(separator, maxsplit) 
- separator: 	Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator 
- maxsplit:    Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [61]:
txt = "apple, banana, cherry, pear"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
# txt is split into two elements - from right till first seperator and the rest on the left
# the resulting list is read from left to right, rest is txt[0] and first split is txt[1]
x=txt.rsplit(" ", 1)
x[0]

'apple, banana, cherry,'

## partition

In [18]:
print("hello, world!".partition("o"))      # returns tuple of three substrings before-seperator-after

('hell', 'o', ', world!')

## rjust, center & ljust

In [15]:
print("hello".ljust(60,"-"))       # right-justify "hello" in a string of total lenghts 10
print("hello".rjust(15,"."))     # left-justify
print("hello".center(20,"*"))

hello-------------------------------------------------------
..........hello
*******hello********

In [39]:

# rjust and ljust are especially useful when you need to print tabular data that has correct spacing.
def printPicnic(Items, l_width, r_width):
    print('PICNIC ITEMS'.center(l_width + r_width, '='))
    for k, v in Items.items():
        print(k.ljust(l_width, '.') + str(v).rjust(r_width, " "))

picnicItems = {'sandwiches': 4, 'apples': 12, 'cups': 4, 'cookies': 8000}
printPicnic(picnicItems, 12, 5)
printPicnic(picnicItems, 20, 6)

===PICNIC ITEMS==
sandwiches..    4
apples......   12
cups........    4
cookies..... 8000
=======PICNIC ITEMS=======
sandwiches..........     4
apples..............    12
cups................     4
cookies.............  8000

## strip

In [41]:
x = "       Hello       World      ?        "
print(x.lstrip())       # cuts left whitespace
print(x.strip())        # cuts whitespce in the beginning and end
print(x.rstrip())       # cuts right whitespace

y = "yOUuo     Hello  ouyyU"
print(y.strip("ouyOU")) # strips away occurences of passed characters at beginning and end while order doesnt matter

Hello       World      ?
Hello       World      ?
       Hello       World      ?
     Hello