# postgres
-  To interact with PostgreSQL, you need to install a third-party Python SQL driver like  psycopg2.

https://www.postgresqltutorial.com/postgresql-cheat-sheet/
https://realpython.com/python-sql-libraries/#creating-tables

##  connect
- pscopg2 has it's own psycopg2.connect() and execute() function but will define custom functions

## in-built functions

In [ ]:
conn = psycopg2.connect(database=DB_NAME, user=DB_USER, password=DB_PASS, host=DB_HOST, port=DB_PORT)
print("Database connected successfully")
cur = conn.cursor()
cur.execute("""Select * FROM db_name """)
conn.commit()
conn.close()

## custom connection

In [5]:
def create_conn(db_name, db_user, db_password, db_host, db_port):
    conn = None
    try:
        conn = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("conn to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return conn

In [1]:
import psycopg2
from psycopg2 import OperationalError

## read SELECT
- the connection object that’s returned by psycopg2.connect() contains a cursor object. 
- You can use cursor.execute() to execute Python SQL queries on your PostgreSQL database.
- Commit any pending transaction to the database, f commit() is not called, the effect of any data <br>
manipulation will be lost.
- Close the connection now (rather than whenever del is executed). The connection will be <br>
unusable from this point forward

In [2]:
def custom_execute(conn, query): 
    cursor = conn.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except OperationalError as e:
        print(f"The error '{e}' occurred")

In [64]:
db_name = 'imdb'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)

select_movie = """SELECT title, year, director, avg_vote, metascore 
                                 FROM movies 
                                 WHERE title LIKE '%Killer' AND year > 2015 
                                 ORDER BY avg_vote DESC"""

movies = custom_execute(conn, select_movie)
conn.commit()
conn.close()

In [63]:
for movie in movies:
    print(movie)

("I'm a Killer", Decimal('2016'), 'Maciej Pieprzyca', Decimal('7.0'), Decimal('0.0'))
("Gosnell: The Trial of America's Biggest Serial Killer", Decimal('2018'), 'Nick Searcy', Decimal('6.7'), Decimal('0.0'))
('The Clovehitch Killer', Decimal('2018'), 'Duncan Skiles', Decimal('6.5'), Decimal('59.0'))
('I Am Not a Serial Killer', Decimal('2016'), "Billy O'Brien", Decimal('6.2'), Decimal('54.0'))
('You Might Be the Killer', Decimal('2018'), 'Brett Simmons', Decimal('5.9'), Decimal('0.0'))
('Malevolence 3: Killer', Decimal('2018'), 'Stevan Mena', Decimal('5.6'), Decimal('0.0'))
('Hometown Killer', Decimal('2018'), 'Jeff Hare', Decimal('5.5'), Decimal('0.0'))
('Mrs. Serial Killer', Decimal('2020'), 'Shirish Kunder', Decimal('4.9'), Decimal('0.0'))
('DNA Killer', Decimal('2020'), 'Lisa France', Decimal('4.9'), Decimal('0.0'))
('Social Killer', Decimal('2018'), 'Craig Goldstein', Decimal('4.9'), Decimal('0.0'))
('Camper Killer', Decimal('2018'), 'Tom Nagel', Decimal('3.7'), Decimal('0.0'))
('Bundy and the Green River Killer', Decimal('2019'), 'Andrew Jones', Decimal('3.7'), Decimal('0.0'))
('Khali the Killer', Decimal('2017'), 'Jon Matthews', Decimal('3.6'), Decimal('0.0'))
('Staged Killer', Decimal('2019'), 'Christopher Ray', Decimal('3.4'), Decimal('0.0'))
('The Millennial Killer', Decimal('2020'), 'Sam Mason-Bell', Decimal('2.7'), Decimal('0.0'))

## create/delete db

In [7]:
def manage_db(conn, query):
    conn.autocommit = True # needed here for actions like db creation and deletion
    cursor = conn.cursor()
    try:
        cursor.execute(query)
        print("Query executed successfully")
    except OperationalError as e:
        print(f"The error '{e}' occurred")

In [15]:
conn = create_conn(db_name, db_user, db_password, db_host, db_port)
query = "CREATE DATABASE play_db OWNER user1;"
manage_db(conn, query)

conn.commit()
conn.close()

Query executed successfully

In [16]:
conn = create_conn('postgres', 'postgres', 'password', db_host, db_port)
query = "DROP DATABASE IF EXISTS play_db;"
manage_db(conn, query)
conn.commit()
conn.close()

conn to PostgreSQL DB successful
Query executed successfully

## create a new table table

In [8]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)

create_users_table = """
   CREATE TABLE IF NOT EXISTS player(
   pk SERIAL PRIMARY KEY,
   first_name VARCHAR NOT NULL,
   last_name VARCHAR NOT NULL,
   budget MONEY);"""

manage_db(conn, create_users_table)
conn.commit()
conn.close()

conn to PostgreSQL DB successful
Query executed successfully

## INSERT

In [9]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)

cur = conn.cursor()
cur.execute("""
    INSERT INTO player (first_name, last_name, budget) 
    VALUES 
    ('Alan' , 'Walker', 5600),
    ('Steve', 'Keef', 10200) 
    """)
conn.commit()
conn.close()

conn to PostgreSQL DB successful

In [21]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)


cur = conn.cursor()
# now we use the psycopg2 in-build execute function
cur.execute(""" SELECT * FROM player """)

rows = cur.fetchall()
for data in rows:
    print(data[0], data[1], data[2] + ' has a budget of ' + (str(data[3])))

conn.close()

conn to PostgreSQL DB successful
1 Alan Walker has a budget of $5,600.00
2 Steve Keef has a budget of $10,200.00

## ALTER TABLE

In [20]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)


cur = conn.cursor()
# now we use the psycopg2 in-build execute function
cur.execute("""ALTER TABLE player ADD COLUMN player_type VARCHAR;""")
conn.commit()
conn.close()

conn to PostgreSQL DB successful

## UPDATE records

In [26]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)

cur = conn.cursor()
cur.execute( """ 
UPDATE player 
SET player_type = 'risk taker' 
WHERE pk = 1;""" )

cur.execute("""
UPDATE player 
SET player_type = 'mathematician' 
WHERE first_name = 'Steve' 
AND last_name = 'Keef';""")

conn.commit()
conn.close()

conn to PostgreSQL DB successful

## DELETE record

In [28]:
db_name = 'playground'; db_user = 'user1'; db_password = 'learning'; db_host = '127.0.0.1'; db_port = 5432
conn = create_conn(db_name, db_user, db_password, db_host, db_port)

cur = conn.cursor()

cur.execute("""DELETE FROM player WHERE pk = 1;""")
cur.execute("""SELECT * FROM player""")

rows = cur.fetchall()
for data in rows:
    print(data)

conn.commit()
conn.close()

conn to PostgreSQL DB successful
(2, 'Steve', 'Keef', '$10,200.00', 'mathematician')

# sqlalchemy

In [30]:
import sqlalchemy as sqa
sqa.__version__

'1.4.27'

## connecting to db

In [40]:
# 'postgresql+psycopg2://user:password@hostname/database_name'
# https://docs.sqlalchemy.org/en/14/core/engines.html#postgresql
engine = sqa.create_engine(
    'postgresql+psycopg2://user1:learning@127.0.0.1/imdb')

## table details
SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information.

In [44]:
connection = engine.connect()
metadata = sqa.MetaData()

In [ ]:
### see tables in db
print(metadata.tables.keys())

In [ ]:
### load specific table
movies = sqa.Table('movies', metadata, autoload=True, autoload_with=engine)

In [45]:
# print the tables column names
print(movies.columns.keys())

['imdb_title_id', 'title', 'original_title', 'year', 'date_published', 'genre', 'duration', 'country', 'language', 'director', 'writer', 'production_company', 'actors', 'description', 'avg_vote', 'votes', 'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore', 'reviews_from_users', 'reviews_from_critics']

In [46]:
# Print full table metadata
print(repr(metadata.tables['movies']))

Table('movies', MetaData(), Column('imdb_title_id', TEXT(), table=<movies>, primary_key=True, nullable=False), Column('title', VARCHAR(length=500), table=<movies>, nullable=False), Column('original_title', VARCHAR(length=500), table=<movies>), Column('year', NUMERIC(precision=4, scale=0), table=<movies>), Column('date_published', VARCHAR(length=15), table=<movies>), Column('genre', VARCHAR(length=200), table=<movies>), Column('duration', SMALLINT(), table=<movies>), Column('country', VARCHAR(length=500), table=<movies>), Column('language', VARCHAR(length=500), table=<movies>), Column('director', VARCHAR(length=200), table=<movies>), Column('writer', VARCHAR(length=200), table=<movies>), Column('production_company', VARCHAR(length=500), table=<movies>), Column('actors', TEXT(), table=<movies>), Column('description', TEXT(), table=<movies>), Column('avg_vote', NUMERIC(precision=3, scale=1), table=<movies>), Column('votes', INTEGER(), table=<movies>), Column('budget', TEXT(), table=<movies>), Column('usa_gross_income', TEXT(), table=<movies>), Column('worlwide_gross_income', TEXT(), table=<movies>), Column('metascore', NUMERIC(precision=4, scale=1), table=<movies>), Column('reviews_from_users', INTEGER(), table=<movies>), Column('reviews_from_critics', INTEGER(), table=<movies>), schema=None)

## SELECT
SELECT title, year, director <br>
FROM movies <br>
WHERE metascore > 95 <br>
AND year > 1970 <br>
ORDER BY year <br>

- **ResultProxy**: The object returned by the .execute() method. <br>
It can be used in a variety of ways to get the data returned by the query.

- **ResultSet**: The actual data asked for in the query when using a <br>
fetch method such as .fetchall() on a ResultProxy.

In [60]:
query = sqa.select([movies.columns.title, movies.columns.year, movies.columns.director])\
                     .where(sqa.and_(movies.columns.metascore >95, movies.columns.year > 1970))\
                     .order_by(sqa.desc(movies.columns.year))
                    

ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:]

[('Parasite', Decimal('2019'), 'Bong Joon Ho'),
 ('Roma', Decimal('2018'), 'Alfonso Cuarón'),
 ('Manchester by the Sea', Decimal('2016'), 'Kenneth Lonergan'),
 ('Moonlight', Decimal('2016'), 'Barry Jenkins'),
 ('Boyhood', Decimal('2014'), 'Richard Linklater'),
 ('12 anni schiavo', Decimal('2013'), 'Steve McQueen'),
 ('Gravity', Decimal('2013'), 'Alfonso Cuarón'),
 ('Ratatouille', Decimal('2007'), 'Brad Bird, Jan Pinkava'),
 ('4 mesi, 3 settimane, 2 giorni', Decimal('2007'), 'Cristian Mungiu'),
 ('Il labirinto del fauno', Decimal('2006'), 'Guillermo del Toro'),
 ('La città incantata', Decimal('2001'), 'Hayao Miyazaki'),
 ('Tre colori - Film rosso', Decimal('1994'), 'Krzysztof Kieslowski'),
 ('Days of Being Wild', Decimal('1990'), 'Kar-Wai Wong'),
 ('Il mio piede sinistro', Decimal('1989'), 'Jim Sheridan'),
 ('Ran', Decimal('1985'), 'Akira Kurosawa'),
 ('Fanny & Alexander', Decimal('1982'), 'Ingmar Bergman'),
 ('Killer of Sheep', Decimal('1978'), 'Charles Burnett'),
 ('Nashville', Decimal('1975'), 'Robert Altman'),
 ('American Graffiti', Decimal('1973'), 'George Lucas'),
 ('A Venezia... un dicembre rosso shocking', Decimal('1973'), 'Nicolas Roeg'),
 ("Mean Streets - Domenica in chiesa, lunedì all'inferno", Decimal('1973'), 'Martin Scorsese'),
 ('Il padrino', Decimal('1972'), 'Francis Ford Coppola')]

## CREATE TABLE

In [115]:
# connection to db 'playground' 
# if 'playground' would not exist this operation would create a db named 'playground'
engine = sqa.create_engine('postgresql+psycopg2://user1:password@127.0.0.1/playground')
connection = engine.connect()
metadata = sqa.MetaData()

In [83]:
player = sqa.Table('player', metadata, autoload=True, autoload_with=engine)
print(player.columns.keys())

['pk', 'first_name', 'last_name', 'budget', 'player_type']

In [117]:
game = sqa.Table('game', metadata,
    sqa.Column('id', sqa.Integer, sqa.Sequence('game_id'), primary_key=True),
    sqa.Column('name', sqa.String(255), nullable=False),
    sqa.Column('rules', sqa.String(500)))

metadata.create_all(engine)  #Creates the table

## INSERT

In [118]:
#Inserting record one by one
query = sqa.insert(game).values(
                                id=1,
                                name='Russian Roulett',
                                rules='Revolver with six chambers one is loaded. Probability of winning: 5/6')
ResultProxy = connection.execute(query)

## inspector 
- A low level interface which provides a backend-agnostic system of loading lists of schema, table, column, and constraint descriptions from a given database is also available. This is known as the “Inspector”:

In [119]:
inspector = sqa.inspect(engine)

for table_name in inspector.get_table_names():
    print(table_name)
    for column in inspector.get_columns(table_name):
        print("    %s" % column['name'])

player
    pk
    first_name
    last_name
    budget
    player_type
game
    id
    name
    rules

##  raw SQL statements

In [110]:
sql = sqa.text('DROP TABLE IF EXISTS game;')
result = engine.execute(sql)